.lexicon-meta-load {
  background: rgba(255, 255, 255, .7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}
#lexicon-spinner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  background: transparent url('images/Ouroburos.png') no-repeat center center;
  position: absolute;
  left: 47%;
  width: 100px;
  height: 100px;
  top: 40%;
  z-index: 1000;
}
